/** sm (Samll devices > 768px) **/
@media (min-width: 768px) {

    .home > .container-fluid {
        padding: 0 10px;
    }

    .home > .header {
        position: relative;
        height: 60px;
    }

    .home > .header.container-fluid {
        padding-right: 0;
        padding-left: 20px;
    }

    .home > .header .menu {
        display: block;
    }

    .home > .header .menu a {
        padding: 0 15px;
        line-height: 60px;
        display: inline-block;
        font-family: AkzidenzGroteskBQ-Light;
        font-size: 1.4rem;
        letter-spacing: -0.3px;
        text-align: center;
        color: #888;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .home > .header .menu a.selected,
    .home > .header .menu a:hover {
        color: #222;
    }

    .home > .header .logo-name {
        line-height: 60px;
        font-size: 1.8rem;
    }

    .home .intro {
        position: relative;
        margin-top: -140px;
    }

    .home .home-divider {
        margin: 40px auto 60px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .home .works {
        margin: 50px auto 0;
    }

    .home .works .work div.header-img {
        display: block;
        padding: 10px;
        height: 215px;
    }

    .works > div div.header-img {
        height: 135px;
    }

    .home .works > div h2 {
        font-size: 1.6rem;
    }

    .home .works > div span {
        font-size: 1.4rem;
    }

    .home .works > div span.tag {
        font-size: 1.2rem;
    }

    .home .portrait {
        width: 80px;
        height: 80px;
        z-index: 4;
        position: relative;
    }

    .home .intro-detail {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .home .location, .home .job, .home .email {
        font-family: AkzidenzGroteskBQ-Light;
        line-height: 1;
        letter-spacing: -0.3px;
        color: #888;
        margin-top: 5px;
        font-size: 1.4rem;
    }

    .intro-detail li {
        margin-right: 35px;
    }

    .intro-detail li:last-child {
        margin-right: 0;
    }

    .job, .email {
        margin-top: 0;
    }

    .social {
        margin-top: 20px;
        margin-right: 8px;
    }

    .social li {
        margin-right: 8px;
    }

    .social li:last-child {
        margin-right: 0;
    }

    .home .works .row .col {
        margin-bottom: 40px;
    }

    .home .works .work {
        margin: 0;
    }

    .home .works .row .col-sm-6 {
        padding: 0 5px;
    }

    .home .works .row .col:nth-child(5)
    .home .works .row .col:nth-child(6) {
        margin-bottom: 20px;
    }



    /*Content*/

    .content-frame{
        padding: 60px 60px 90px;
        margin: 0 auto;
    }

    .content-frame h2 {
        font-size: 2.8rem;
        margin-bottom: 60px;
    }

    .item-wrap{
        margin-top: 90px;
    }

    .work-header-img,
    .work-header{
        height: 500px;
    }

    .about.container-fluid {
        margin-top: 60px;
    }

    .text-intro > .container-fluid {
        max-width: 600px;
        padding: 90px 30px;
    }

    .bullet-list{
        margin-top: 50px;
    }

    .bullet-list:before{
        left: -25px;
    }

    .work3 .personas .item-wrap,
    .work3 .users-journey .item-wrap,
    .work2 .analytics .item-wrap,
    .work2 .audience .item-wrap{
        margin-top: 0;
    }

    .work2 .application .long-arrow-down {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .text-intro {
        font-size: 1.5rem;
    }

    .slick-prev, .slick-next {
        display: block !important;
    }

    .slick-prev {
        left: -35px;
    }

    .slick-next {
        right: -35px;
    }

    .column-wrap {
        display: flex;
        justify-content: center;
    }

    .column {
        flex: 1;
        max-width: 300px;
    }

}