/** sm (Samll devices > 768px) **/

@media (min-width: 768px) {

    .home > .container-fluid {
        padding: 0 10px;
    }

    .home > .header {
        position: relative;
        height: 60px;
    }

    .home > .header.container-fluid {
        padding-right: 0;
        padding-left: 20px;
    }

    .home > .header .menu {
        display: block;
    }

    .home > .header .menu a {
        padding: 0 15px;
        line-height: 60px;
        display: inline-block;
        font-family: ProximaNova-Light;
        font-size: 1.4rem;
        letter-spacing: -0.3px;
        text-align: center;
        color: #222;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .home > .header .menu a.selected,
    .home > .header .menu a:hover {
        background-color: #f0f0f0;
    }

    .home > .header .logo-name {
        line-height: 60px;
        font-size: 1.8rem;
    }

    .home .intro {
        position: relative;
        margin-top: -140px;
    }

    .home .home-divider {
        margin: 40px auto 60px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .home .works {
        margin: 50px auto 0;
    }

    .home .works .work div.header-img {
        display: block;
        padding: 10px;
        height: 215px;
    }

    .works > div div.header-img {
        height: 135px;
    }

    .home .works > div h2 {
        font-size: 1.6rem;
    }

    .home .works > div span {
        font-size: 1.4rem;
    }

    .home .works > div span.tag {
        font-size: 1.2rem;
    }

    .home .portrait {
        width: 80px;
        height: 80px;
        z-index: 4;
        position: relative;
    }

    .home .intro-detail {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }

    .home .location, .home .job, .home .email {
        font-family: AkzidenzGroteskBQ-Light;
        line-height: 1;
        letter-spacing: -0.3px;
        color: #888;
        margin-top: 5px;
        font-size: 1.4rem;
    }

    .intro-detail li {
        margin-right: 45px;
    }

    .intro-detail li:last-child {
        margin-right: 0;
    }

    .job, .email {
        margin-top: 0;
    }

    .social {
        margin-top: 20px;
        margin-right: 8px;
    }

    .social li {
        margin-right: 8px;
    }

    .social li:last-child {
        margin-right: 0;
    }

    .home .works .row .col {
        margin-bottom: 40px;
    }

    .home .works .work {
        margin: 0;
    }

    .home .works .row .col-sm-6 {
        padding: 0 5px;
    }

    .home .works .row .col:nth-child(5)
    .home .works .row .col:nth-child(6) {
        margin-bottom: 20px;
    }

    .sm-content-frame > .container-fluid {
        padding: 60px 0 90px;
        margin: 0 auto;
    }

    .sm-content-frame h2 {
        margin-bottom: 60px;
    }

    .work-header-img {
        max-height: 500px;
    }

    .about.container-fluid {
        margin-top: 60px;
    }

    .text-intro > .container-fluid {
        max-width: 600px;
        padding: 90px 30px;
    }

    .work-ui .container-fluid {
        max-width: 600px;
    }

    .work-research img {
        max-width: 300px;
    }

    .work-research .research-list {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .work-personas > .container-fluid {
        max-width: 600px;
        text-align: center;
    }

    .persona-des-xs {
        display: none;
    }

    .persona-des-sm {
        display: block;
    }

    .health-part > h3 {
        margin: 0;
        padding: 0;
    }

    .health-part > div {
        margin: 0;
        padding: 0;
    }

    .requirement-part {
        text-align: left;
    }

    .requirement-part > h3 {
        margin: 0;
        padding: 0;
    }

    .requirement-part > ul {
        margin: 0;
    }

    .persona-hobby {
        margin: 30px auto 0;
        padding: 0 5%;
        display: block;
    }

    .persona-hobby > div {
        width: 80px;
        height: 80px;
        display: inline-block;
        font-family: HelveticaNeue;
        font-size: 16px;
        line-height: 80px;
        color: #ffffff;
        text-align: center;
        margin-right: 18px;
        background-repeat: no-repeat;
        background-size: auto 90px;
        background-position-y: center;
        position: relative;
    }

    .persona-hobby > div:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(196, 164, 204, .5); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(196, 164, 204, .3), rgba(196, 164, 204, .5)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(196, 164, 204, .3), rgba(196, 164, 204, .5)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(196, 164, 204, .3), rgba(196, 164, 204, .5)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(196, 164, 204, .3), rgba(196, 164, 204, .5)); /* Standard syntax */
    }

    .mary-hobby > div:before {
        background: rgba(77, 153, 126, .5); /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(77, 153, 126, .3), rgba(77, 153, 126, .5)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(77, 153, 126, .3), rgba(77, 153, 126, .5)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(77, 153, 126, .3), rgba(77, 153, 126, .5)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(77, 153, 126, .3), rgba(77, 153, 126, .5)); /* Standard syntax */
    }

    .mary-hobby > div {
        background-image: url("../img/inplace-mary-hobby.png");
    }

    .mary-hobby > div:nth-child(1) {
        background-position-x: 0;
    }

    .mary-hobby > div:nth-child(2) {
        background-position-x: -113px;
    }

    .mary-hobby > div:nth-child(3) {
        background-position-x: -225px;
    }

    .mary-hobby > div:nth-child(4) {
        background-position-x: -337px;
    }

    .mary-hobby > div:nth-child(5) {
        background-position-x: -450px;
    }

    .kelly-hobby > div {
        background-image: url("../img/inplace-kelly-hobby.png");
    }

    .kelly-hobby > div:nth-child(1) {
        background-position-x: 0;
    }

    .kelly-hobby > div:nth-child(2) {
        background-position-x: -112px;
    }

    .kelly-hobby > div:nth-child(3) {
        background-position-x: -223px;
    }

    .kelly-hobby > div:nth-child(4) {
        background-position-x: -334px;
    }

    .kelly-hobby > div:nth-child(5) {
        background-position-x: -446px;
    }

    .persona-bg {
        display: block;
        padding: 0 5%;
        margin: 60px auto;
    }

    .persona-bg p {
        font-family: HelveticaNeue;
        font-size: 1.4rem;
        line-height: 1.2;
        color: #f8f8f8;
        position: relative;
    }

    .persona-bg p:before, .persona-bg p:after {
        position: absolute;
        color: #c4a4cc;
        font-size: 65px;
    }

    .persona-bg p:before {
        content: " “ ";
        left: -25px;
        top: -40px;
    }

    .persona-bg p:after {
        content: " ” ";
        right: -25px;
        bottom: -50px;
    }

    .work-flow img {
        max-width: 900px;
    }

    .work-ia img {
        max-width: 600px;
    }

    .work-ui img {
        max-width: 300px;
    }

    .work-ui h3 {
        margin-left: 0;
        text-align: center;
    }

    .work-storyboard > .container-fluid {
        max-width: 600px;
    }

    .analytics-wrap-all {
        display: flex;
        justify-content: center;
    }

    .analytics-wrap {
        flex: 1;
        max-width: 300px;
        margin-right: 45px;
    }

    .analytics-wrap:last-child {
        margin-right: 0;
    }

    .audience-wrap {
        display: flex;
        justify-content: center;
    }

    .audience {
        flex: 1;
        max-width: 300px;
    }

    .work-build-learn-test > .container-fluid {
        max-width: 600px;
    }

    .work-application > .container-fluid {
        max-width: 600px;
    }

    .video-wrap {
        height: 410px;
    }

    .video-wrap > iframe {
        height: 410px;
    }

    .video-wrap > div {
        height: 410px;
    }

    .work-build-learn-test h3 {
        margin-top: 90px;
        margin-bottom: 30px;
        text-align: center;
    }

    img.dartboard-goals {
        display: block;
    }

    .understanding-list {
        display: none;
    }


    .video-wrap:after {
        margin-top: -60px;
        color: #222;
    }

    .work-application .long-arrow-down {
        line-height: 1;
        margin: 45px auto 45px;
    }

    .video-wrap.play:after {
        display: block;
    }

    .text-intro {
        font-size: 1.5rem;
    }

    .kelly-portrait, .mary-portrait {
        width: 90px;
        height: 90px;
    }

    .xm-content-frame h2 {
        font-size: 2.8rem;
    }

    img.inplace-spec {
        max-width: 600px;
    }

    .slick-prev, .slick-next {
        display: block !important;
    }

    .slick-prev {
        left: -65px;
    }

    .slick-next {
        right: -65px;
    }

    .storyboard-list li img {
        width: 100%;
    }

    .audience-wrap {
        display: flex;
        justify-content: center;
    }

    .audience {
        flex: 1;
        max-width: 300px;
    }

    .column-wrap {
        display: flex;
        justify-content: center;
    }

    .column {
        flex: 1;
        max-width: 300px;
    }

    .acuvue .work-flow .column {
        padding: 0 25px;
    }

    .acuvue .work-ia .container-fluid,
    .acuvue .work-flow .container-fluid,
    .smart-closet .work-analytics .container-fluid {
        max-width: 100%;
    }

    .analytics-entry h4 {
        font-size: 1.4rem;
    }

    .analytics-entry:before {
        top: 2px;
        left: -42px;
        width: 12px;
        height: 12px;
    }
}