html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "AkzidenzGroteskBQ-Reg", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-padding-start: 0px;
    margin: 0;
    padding 0;
}

h2, h3 {
    font-family: 'AkzidenzGroteskBQ-Bold';
    margin: 0;
    padding: 0;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

a:-webkit-any-link {
    text-decoration: none;
}

a img {
    outline: none;
    border: 0;
}

img {
    outline: none;
    border: 0;
}

strong {
    font-family: 'AkzidenzGroteskBQ-Bold';
    letter-spacing: -0.3px;
}

em {
    font-family: 'AkzidenzGroteskBQ-LightIt';
}

/** Akzidenz Grotesk **/
@font-face {
    font-family: 'AkzidenzGroteskBQ-Light';
    src: url("../assets/fonts/AkzidenzGrotesk-Light.otf");
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-LightIt';
    src: url("../assets/fonts/AkzidenzGrotesk-Light.otf");
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-Reg';
    src: url("../assets/fonts/AkzidenzGrotesk-Regular.otf");
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-Italic';
    src: url("../assets/fonts/AkzidenzGrotesk-Italic.otf");
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-Bold';
    src: url("../assets/fonts/AkzidenzGrotesk-Bold.otf");
}

@font-face {
    font-family: 'AkzidenzGroteskBQ-BoldItalic';
    src: url("../assets/fonts/AkzidenzGrotesk-BoldItalic.otf");
}

/*animation*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pulse {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.rotateIn {
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

.rotateOut {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-name: rotateOut;
    animation-name: rotateOut;
}

.bounceInRightLong {
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-: bounceInRightLong;
    animation-name: bounceInRightLong;
    -webkit-animation-timing-function: cubic-bezier(.22, .22, .78, .99);
    animation-timing-function: cubic-bezier(.22, .22, .78, .99);
}

.bounceInRightShort {
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
    -webkit-animation-name: bounceInRightShort;
    animation-name: bounceInRightShort;
    -webkit-animation-timing-function: cubic-bezier(.22, .22, .78, .99);
    animation-timing-function: cubic-bezier(.22, .22, .78, .99);
}

.bounceOutRightLong {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
    -webkit-animation-name: bounceOutRightLong;
    animation-name: bounceOutRightLong;
    -webkit-animation-timing-function: cubic-bezier(.32, 0, .65, .65);
    animation-timing-function: cubic-bezier(.32, 0, .65, .65);
}

.bounceOutRightShort {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
    -webkit-animation-name: bounceOutRightShort;
    animation-name: bounceOutRightShort;
    -webkit-animation-timing-function: cubic-bezier(.32, 0, .65, .65);
    animation-timing-function: cubic-bezier(.32, 0, .65, .65);
}

.ripple {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: inherit;
    pointer-events: none;
}

.ripple-wave {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    background-color: rgba(255, 255, 255, 1);
    opacity: .45;
    -webkit-animation: ripple 2.4s forwards;
    animation: ripple 2.4s forwards;
}

@-webkit-keyframes pulse {

    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 1.15, 1.15);
        transform: scale3d(1.15, 1.15, 1.15);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rotateIn {

    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes rotateOut {

    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, 200deg);
        transform: rotate3d(0, 0, 1, 200deg);
    }
}

@-webkit-keyframes bounceInRightShort {

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 200deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 200deg);

    }

    80% {
        opacity: 1;
        -webkit-transform: translate3d(-78px, 0, 0);
        transform: translate3d(-78px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-75px, 0, 0);
        transform: translate3d(-75px, 0, 0);
    }
}

@-webkit-keyframes bounceInRightLong {

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 200deg);
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 200deg);
    }

    80% {
        opacity: 1;
        -webkit-transform: translate3d(-153px, 0, 0);
        transform: translate3d(-153px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
}

@-webkit-keyframes bounceOutRightShort {

    20% {
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    30% {
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(1000px, 0, 0) rotate3d(0, 0, 1, 200deg);
        transform: translate3d(1000px, 0, 0) rotate3d(0, 0, 1, 200deg);
    }
}

@-webkit-keyframes bounceOutRightLong {
    20% {
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    30% {
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(1000px, 0, 0) rotate3d(0, 0, 1, 200deg);
        transform: translate3d(1000px, 0, 0) rotate3d(0, 0, 1, 200deg);
    }
}

@keyframes ripple {
    to {
        -webkit-transform: scale(24);
        transform: scale(24);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(24);
        transform: scale(24);
        opacity: 0;
    }
}