@charset "UTF-8";
/** Define Color **/
/** Define Length**/
/** Define Path **/
/**
**
  Min-width: 1px
**
**/
html {
  font-size: 62.5%;
}
body {
  background-color: #fafafa;
  font-size: 1.5rem;
  line-height: 2.2;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  color: #47525d;
}
p {
  margin-bottom: 2.3rem;
  font-weight: 300;
}
strong {
  font-weight: 500;
}
blockquote {
  position: relative;
  padding: 0;
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 300;
  border: none;
}
figcaption {
  font-size: 1.3rem;
}
figure {
  margin-bottom: 4.5rem;
}
figure:last-child {
  margin-bottom: 0;
}
h5 > strong {
  font-size: 16px;
}
a {
  transition: all .1s;
}
a:hover {
  text-decoration: none;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  padding: .5rem 4.5rem;
  text-transform: uppercase;
  background-color: #fafafa;
  color: #47525d;
  border: 1px solid #47525d;
  transition: 0.4s all ease-in-out;
}
.button:hover {
  text-decoration: none;
  background-color: #47525d;
  color: #fafafa;
}
.table th {
  font-weight: 500;
}
.table td {
  font-weight: 300;
}
.underline {
  text-decoration: underline;
}
.container {
  padding: 0 3.5rem;
}
.site-wrapper {
  display: none;
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.section-content {
  padding-top: 55px;
  padding-bottom: 45px;
  border-bottom: 1px solid #d0d4d9;
}
.sub-section {
  margin-bottom: 55px;
}
h1 {
  margin-bottom: 45px;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
}
h2 {
  margin-bottom: 55px;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.47;
  text-align: center;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;
}
.section-title {
  text-transform: uppercase;
}
.sub-section-title {
  margin-bottom: 4rem;
}
.work-title {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
}
.article-title {
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 0;
}
.work-section-title {
  margin-top: 3rem;
  font-size: 1.6rem;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-list {
  list-style: none;
  padding-left: 0;
}
.number-list {
  padding-left: 2.5rem;
  font-weight: 300;
}
.text-list > li {
  margin-bottom: 3rem;
}
.text-list a {
  color: #47525d;
}
.text-list a:hover {
  color: #47525d;
}
.text-list a.read-more {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.44);
}
.text-list a.read-more:hover {
  color: rgba(0, 0, 0, 0.6);
}
.work-nav {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.work-nav > a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.44);
}
.work-nav > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.work-nav .next {
  text-align: right;
}
.work-nav .prev::before,
.work-nav .next::before {
  display: block;
  font-size: 1.2rem;
}
.work-nav .prev::before {
  content: "Previous";
}
.work-nav .next::before {
  content: "Next";
}
.video {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hexagon {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.1rem;
  width: 4rem;
  height: 2.31rem;
  background-color: #007ee5;
  transform-origin: center center;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
}
.hexagon:before {
  bottom: 100%;
  left: 0;
  border-bottom: 1.155rem solid #007ee5;
}
.hexagon:after {
  top: 100%;
  width: 0;
  left: 0;
  border-top: 1.155rem solid #007ee5;
}
.load-panel {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}
.load-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1.15rem;
  margin-left: -2rem;
}
.hexagon.loading {
  animation: rotating 1.5s ease-in-out infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.mobile-menu {
  position: fixed;
  top: 2.4rem;
  left: 2.4rem;
  z-index: 1001;
}
.mobile-menu .icon,
.mobile-menu .icon::before,
.mobile-menu .icon::after {
  transform-origin: center center;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.mobile-menu.triggered .icon {
  height: 0;
  transform: rotateZ(90deg);
}
.mobile-menu.triggered .icon::before {
  top: -0.1rem;
  transform: rotateZ(45deg);
}
.mobile-menu.triggered .icon::after {
  top: -0.1rem;
  transform: rotateZ(135deg);
}
.hexagon .icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform-origin: center center;
  background: #fff;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1), height 0.4s cubic-bezier(0.77, 0, 0.175, 1), margin 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.hexagon .icon {
  width: 1.5rem;
  height: 2px;
  left: 1.2rem;
  top: -0.1rem;
}
.hexagon .icon::before,
.hexagon .icon::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 2px;
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1), left 0.4s cubic-bezier(0.77, 0, 0.175, 1), top 0.4s cubic-bezier(0.77, 0, 0.175, 1), bottom 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.hexagon .icon::before {
  top: 6px;
  transform: rotateZ(0deg);
}
.hexagon .icon::after {
  top: -6px;
  transform: rotateZ(0deg);
}
.mobile-nav {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 1000;
}
.mobile-nav ul {
  position: relative;
  list-style: none;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav ul li {
  margin-bottom: 20px;
}
.mobile-nav ul li:last-child {
  margin-bottom: 0px;
}
.mobile-nav ul li a {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #007ee5;
  transform-origin: bottom center;
}
.mobile-nav.triggered ul li a {
  animation: nav 0.15s ease-in-out;
}
@keyframes nav {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.button-wrap {
  margin-top: 55px;
  text-align: center;
}
.button-wrap span {
  cursor: pointer;
}
.section.works .button-wrap {
  display: none;
}
button.hexagon {
  position: relative;
  background: none;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #d0d4d9;
}
button.hexagon::before {
  border-bottom-color: #d0d4d9;
}
button.hexagon::after {
  border-top-color: #d0d4d9;
}
button.hexagon .icon {
  width: 1.8rem;
  line-height: 1rem;
  height: 2px;
  left: 0;
  top: -0.2rem;
}
button.hexagon .icon::before {
  display: none;
}
button.hexagon .icon::after {
  content: '';
  display: block;
  width: 1.8rem;
  height: 2px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #fff;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1), left 0.4s cubic-bezier(0.77, 0, 0.175, 1), top 0.4s cubic-bezier(0.77, 0, 0.175, 1), bottom 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
button.hexagon .icon::after {
  transform: rotateZ(90deg);
}
.media-image-wrap {
  margin-bottom: 2rem;
}
.media-image {
  width: 100%;
  height: auto;
  text-align: center;
  border: none;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index .media-image {
  max-width: 480px;
  max-height: 270px;
}
.image-note {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.44);
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vebeen .media-image {
  border: 1px solid #eaeaea;
}
.author-name {
  display: block;
  margin: 0 auto;
  height: auto;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
#j {
  stroke-dasharray: 277;
  animation: dash 1s linear 0s backwards;
}
#ae {
  stroke-dasharray: 277;
  animation: dash 1.2s linear .5s backwards;
}
#y {
  stroke-dasharray: 277;
  animation: dash 1s linear 1.1s backwards;
}
#q {
  stroke-dasharray: 277;
  animation: dash 1s linear 0s backwards;
}
#ia {
  stroke-dasharray: 277;
  animation: dash 1s linear .5s backwards;
}
#n {
  stroke-dasharray: 277;
  animation: dash 0.75s linear 1s backwards;
}
#g {
  stroke-dasharray: 277;
  animation: dash 0.75s linear 1.3s backwards;
}
#d {
  stroke-dasharray: 277;
  animation: dash .1s linear 1.7s backwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 277;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.img-wrap {
  margin-bottom: 55px;
}
.img-wrap p {
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 1.5;
}
.img-wrap a {
  color: #47525d;
}
.img-wrap a:hover {
  color: #47525d;
}
.img-wrap a.read-more {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.44);
}
.img-wrap a.read-more:hover {
  color: rgba(0, 0, 0, 0.6);
}
.email {
  font-weight: 500;
  color: #007ee5;
}
.email:hover {
  text-decoration: none;
}
.social-nav {
  list-style: none;
  margin-top: 5rem;
  padding-left: 0;
}
.social-nav > li {
  display: inline-block;
  margin-right: 2rem;
}
.social-nav > li:last-child {
  margin-right: 0;
}
.social-nav > li > a {
  display: inline-block;
  padding: 5px;
  color: #d0d4d9;
}
.social-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.44);
}
.social-nav > li i {
  font-size: 2rem;
}
footer {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 8rem;
  font-weight: 100;
  font-size: 1.2rem;
}
.index .author-portrait {
  max-width: 600px;
  max-height: initial;
}
/** Work Pages  **/
.desktop-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  border-bottom: 1px solid #d0d4d9;
  box-shadow: 0px 1px 1px #d0d4d9;
  text-align: center;
  z-index: 999;
}
.logo-name {
  color: #007ee5;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  line-height: 6rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.desktop-header .hexagon {
  position: relative;
  display: inline-block;
  top: 3px;
  left: -10px;
  transition: all 0.3s ease-in-out;
}
.desktop-header .icon {
  top: -1.8rem;
}
.desktop-header.fadeOut .hexagon {
  transform: translate3d(80px, 0, 0);
}
.desktop-header.fadeOut .logo-name {
  opacity: 0;
  transform: translate3d(-80px, 0, 0);
}
.work-page .intro {
  margin-top: 6rem;
}
.work-page .intro .text-list {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.work-page .intro .text-list li {
  margin-bottom: 1rem;
}
.work-page .intro .text-list li::before {
  display: block;
  font-weight: 100;
  font-size: 1.3rem;
}
.work-page .intro .text-list li:nth-child(1)::before {
  content: "ROLE";
}
.work-page .intro .text-list li:nth-child(2)::before {
  content: "DATE";
}
.work-page .intro .text-list li:nth-child(3)::before {
  content: "AGENCY";
}
.work-page .intro .media-image {
  width: 100%;
}
p.strong {
  margin-top: 3.5rem;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-style: italic;
}
.column-list {
  margin-top: 4rem;
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.column-list > li {
  margin-bottom: 4rem;
}
.column-list > li img {
  display: block;
  margin: 0 auto;
  background-color: transparent;
}
.column-list > li h5 {
  position: relative;
  display: inline-block;
}
.column-list > li span {
  display: block;
  font-weight: 300;
  text-align: left;
}
.timeline-list {
  margin-top: 4rem;
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
  text-align: left;
  font-weight: 300;
  border-left-width: 2px;
  border-left-style: dashed;
}
.timeline-list.first {
  border-color: #F69177;
}
.timeline-list.second {
  border-color: #007ee5;
}
.timeline-list.third {
  border-color: #77D58C;
}
.timeline-list li {
  position: relative;
  padding: 2rem 0 3rem 2rem;
}
.timeline-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
.timeline-list.first li::before {
  background-color: #F69177;
}
.timeline-list.second li::before {
  background-color: #007ee5;
}
.timeline-list.third li::before {
  background-color: #77D58C;
}
.timeline-list li::after {
  content: "sdfsdfsd";
  position: absolute;
  padding-left: 2rem;
  top: -10px;
  left: 0;
  font-weight: 500;
}
.timeline-list li:nth-child(1)::after {
  content: "First experience";
}
.timeline-list li:nth-child(2)::after {
  content: "Offline experience";
}
.timeline-list li:nth-child(3)::after {
  content: "Online experience";
}
.section p,
.section figure,
.section ol {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.index .desktop-header {
  display: none;
}
/**
**
  Min-width: 750px
**
**/
@media (min-width: 750px) {
  p {
    margin-bottom: 4rem;
  }
  ul.column-list {
    margin-top: 6rem;
  }
  ol.number-list {
    margin-bottom: 4rem;
  }
  .video {
    width: 700px;
    height: 438px;
  }
  .section.contact {
    text-align: center;
  }
  .intro .text-list {
    margin-top: 7rem;
    margin-bottom: 5rem;
  }
  .work-page .media-image {
    width: auto;
  }
  .work-page .media-image.long {
    width: 100%;
  }
}
/**
**
  Min-width: 970px
**
**/
@media (min-width: 970px) {
  .mobile-menu {
    display: none;
  }
  .index .desktop-header {
    display: block;
  }
  .intro {
    margin-top: 10rem;
  }
  .work-page .intro {
    margin-top: 10rem;
  }
  .media-image-wrap {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .section {
    max-width: none;
  }
  .desktop-header {
    height: 10rem;
  }
  .desktop-header.hexagon {
    position: relative;
    display: inline-block;
    top: 12px;
    left: -10px;
  }
  .logo-name {
    line-height: 10rem;
  }
  .author-name {
    width: 280px;
  }
  .work-title {
    font-size: 2.1rem;
  }
  .sub-section {
    margin-bottom: 5rem;
  }
  ul.column-list {
    margin-bottom: 6rem;
  }
  ul.column-list > li {
    margin-bottom: 0;
  }
}
/**
**
  Min-width: 1100px
**
**/
@media (min-width: 1100px) {
  .work-page .media-image.long {
    width: auto;
  }
}
