---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <p><a href="{{site.baseurl}}{{ post.url }}">Read more
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-item older"><i class="fa fa-angle-left"></i></a>
  {% else %}
    <span class="pagination-item older"><i class="fa fa-angle-left"></i></span>
  {% endif %}
  <!--<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-item newer"><i class="fa fa-angle-right"></i></a>
  {% else %}
    <span class="pagination-item newer"><i class="fa fa-angle-right"></i></span>
  {% endif %}
</div>

