<footer class="footer">
	<div class="container">
		<div class="hr-line"></div>
	    <p class="footer-links">
	      <a href="{{site.baseurl}}/pages/about">About</a>
	      &middot;
	      <a href="//www.jianshu.com/users/eefbf767d583">JianShu</a>
	      <a href="//joeyqiang.lofter.com/">Lofter</a>
	      <a href="//github.com/JoeyQiang">GitHub</a>
	    </p>
	    <small class="Footer-legal">Designed by Joey &copy; 2015 &bull; All rights reserved.</small>
	  </div>
	</div>
</footer>

<div class="fixed-btn">
	<a class="back-to-top" href="javascript:void(0)"><i class="fa fa-angle-up"></i></a>
	<a class="wechat-follow-button" href="javascript:void(0)"><i class="fa fa-qrcode"></i></a>
	<div class="wechat-hover">
		<strong>关注我的微信</strong>
		<br />
		<img src="{{site.baseurl}}/public/images/qrcode_wechat_official.jpg" width="120px" height="120px" />
	</div>
</div>
</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script src="{{ site.baseurl }}/public/js/js.js" type="text/javascript" charset="utf-8"></script>