<footer class="footer">
	<div class="container">
		<div class="hr-line"></div>
	    <p class="footer-links">
	      <a href="{{site.baseurl}}/portfolio" target="_blank">Portfolio</a>
	      &middot;
	      <a href="http://www.jianshu.com/users/eefbf767d583/latest_articles" target="_blank">JianShu</a>
	      <a href="https://www.facebook.com/profile.php?id=100004516171367" target="_blank">Facebook</a>
	      <a href="https://www.linkedin.com/in/joeyqiang" target="_blank">LinkedIn</a>
	      <a href="http://joeyqiang.me/product/2015/10/09/%E6%88%91%E7%9A%84%20Github%20%E4%B8%AA%E4%BA%BA%E5%8D%9A%E5%AE%A2%E6%98%AF%E6%80%8E%E6%A0%B7%E7%82%BC%E6%88%90%E7%9A%84/" target="_blank">About</a>
	    </p>
	    <small class="Footer-legal">Designed by Joey &copy; 2015 &bull; All rights reserved.</small>
	  </div>
	</div>
</footer>

<div class="fixed-btn">
	<a class="back-to-top" href="javascript:void(0)"><i class="fa fa-angle-up"></i></a>
	<a class="wechat-follow-button" href="javascript:void(0)"><i class="fa fa-qrcode"></i></a>
	<div class="wechat-hover">
		<strong>关注我的微信</strong>
		<br />
		<img src="{{site.baseurl}}/public/images/qrcode_wechat_official.jpg" width="120px" height="120px" />
	</div>
</div>
</div>
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script id="dsq-count-scr" src="//joeyqiang.disqus.com/count.js" async></script>
<script src="{{ site.baseurl }}/public/js/js.js" type="text/javascript" charset="utf-8"></script>