/**
 *page.html 
 */
.container {
    margin: 0 auto;
    max-width: 540px;
    padding: 0 30px;
    position: relative;
    
    @media (max-width: 450px) {
        padding: 0 5px;
    }
}

/**
 *header
 */
.header {
    padding: 40px 0 10px;
}

.header-logo {
    text-align: center;
    
    a {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        transition: box-shadow 0.3s ease 0s;
        
        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            vertical-align: middle;
        }
        
        .header-prompt {
            display: none;
            position: absolute;
            padding: 3px 6px;
            border-radius: 3px;
            background: #666;
            background: rgba(0,0,0,.25);
            color: #fff;
            text-align: center;
            right: -45px;
            top: 45px;
            
            &:before {
                content: "";
                border-width: 5px 5px 5px 0;
                border-style: solid;
                border-color: transparent #666;
                border-color: transparent rgba(0,0,0,.25);
                position: absolute;
                top: 50%;
                left: -5px;
                margin-top: -5px;
            }
        }
        
        &:hover {
            box-shadow: 0 0 0 5px #eee;
            -webkit-box-shadow: 0 0 2px 5px #eee;
            
            .header-prompt {
                display: inline-block;
            }
        } 
   }   
}

.header-title {
    line-height: 26px;
    color: #aeaeae;
    text-align: center;
}

.header-nav {
    margin-top: 35px;
    text-align: center;
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    
    li{
        margin: 0 15px;
        display: inline-block;
    }
}

/**
 *content 
 */
.content {
    margin-top: 2em;
    margin-bottom: 6em;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    
    .list-item {
        font-size: 1.1em;
        line-height: 1.2;
        margin: 0 2em .75em;
        padding: .75em 0 0;
        text-align: center;
        
        .list-text {
            max-width: 19em;
            overflow: hidden!important;
            text-overflow: ellipsis!important;
            white-space: nowrap!important;
            word-wrap: normal!important;
            
            a {
                color: $black;
                
                &:hover {
                    color: $black-hover;
                }
            }
            
             @media (max-width: 450px) {
                float: inherit;
                max-width: 100%;
            } 
        }
        
        .list-time {
            margin: 0 0 0 20px;
           
            .time {
                color: $grey;
                display: inline-block;
                font-size: .75em;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            
            @media (max-width: 450px) {
                 float: inherit;
            }  
        }
    }
}

/**
 *footer 
 */
.footer {
    padding-bottom: 1em;
    text-align: center;     
}

.fixed-btn {
    position: fixed;
    right: 2%;
    bottom: 2%;
    border: 1px solid #eee;
    width: 40px; 
    background: #fff;
    
    a {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        color: $black;
        line-height: 1;
        font-size: 24px;
                
        &:hover {
            color: $black-hover;
        }
        
        i {
            vertical-align: sub;
            vertical-align: -webkit-baseline-middle;
        }
    }
    
    .back-to-top {
        display: none;
        border-bottom: 1px solid #eee;
    }
}

.wechat-hover {
    display: none;
    position: absolute;
    background-color: #fff;
    text-align: center;
    bottom: 0px;
    right: 55px;
    padding: 10px 15px;
    border: 1px solid #fafafa;
    border-radius: 3%;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 4px 2px;
    
    &:before, &:after {
        height: 0;
        width: 0;
        content: "";
        position: absolute;
    }
    
    &:before {
        bottom: 3px;
        right: -8px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        border-left: 7px solid #d7d7d7; 
     }
     
     &:after {
        bottom: 4px;
        right: -7px;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; 
        border-left: 6px solid #fff; 
     }
}

.footer-links {
    margin: 1.5em 0 .5em;
    
    a {
        padding: .05em .25em;
        margin: 0 .3em;
        font-size: .875em;
    }
}

/**
 *post.html 
 */
.post{
    
     font-size: 16px;
     line-height: 2;
     
    .header-logo {
        
        a {
            width: 80px;
            height: 80px;
            
            img {
                width: 80px;
                height: 80px;
            }
        }
        
        .header-prompt {
            font-size: .75em;
            padding: 0px 4px;
            right: -40px;
            top: 25px;
        }
    }

    .header-title {
        display: none;
    }
    
    .header-nav {
        display: none;
    }
    
    .hr-sep {
        display: none;
    }
    
    .pagination {
        
        overflow: hidden;
        margin: 2em 0;
    
            .prev {
                float: left;
            }
            .next {
                float: right;
            }
    }
    
    img {
        display: block;
        max-width: 500px;
        height: auto;
        max-height: 500px;
        margin: 0 auto;
        
        @media (max-width: 450px) {
            width: 300px;
            max-width: 350px;
        }    
     }
     
     .post-date {
        font-size: .75em;
        text-align: center;
        color: $grey-hover;
     }
     
     .post-title {
        text-align: center;
     }
     
     @media (max-width: 450px) {
         
        .container {
            padding: 0 20px;   
        }
        
        .pagination {
    
            a{  
                display: block;
            }
         }
     }
}