hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.5em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}

 .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content img {
	width: 400px;
	height: 300px;
	margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img.first-pic{
	width: 400px;
	height: 400px;
	border-radius: 50%;
} 

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.portfolio-modal h3{
	font-size: 2.5em;
}

.portfolio-modal span{
	color: #888;
	font-style: italic;
}

.portfolio-modal b{
	color: rgb(71,83,88);
}

.portfolio-modal p{
	font-style: normal;
	font-size: 1em;
	text-align: left;
}

.portfolio-modal ul{
	list-style: disc;
	text-align: left;
}

.portfolio-modal ul li{
	margin-left: 2em;
}

.portfolio-modal a{
	color: #fff;
	border-bottom: none;
}

.portfolio-modal a:hover{
	text-decoration: none;
	border-bottom: none;
	color: #fff;
}

.portfolio-modal .btn{
	margin-top: 4em;	
}

.portfolio-modal a.btn-link{
	margin-top: 4em;	
	margin-right: 2em;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
    -webkit-transition: none;
    transition: none;
}

.portfolio-modal a.btn-link:hover{
	text-decoration: none;
	background-color: #798d8f;
    border-color: #74898a;
}

.portfolio-modal a.read-more{
	color: rgba(0,0,0,.3);
}

.portfolio-modal a.read-more:hover{
	color: #475358;
}

@media (max-width: 640px ) {
	.portfolio-modal {
		margin-top: -50px;
	}
}