---
layout: default
type: post
comments: ture
---

{% include header.html %}

<div class="wrap">
	<section class="content">
		<div class="container">
			
			<p class="post-date">{{ page.date | date_to_string }}</p> 
			<h1 class="post-title">{{ page.title }}</h1>
				
			{{ content }}

			<!-- Pagination Plugin-->
			<div class="pagination clearfix">
				
				{% if page.previous.url %}
					{% if page.previous_in_category != nil %}
						<a class="prev" href="{{page.previous_in_category.url}}"><i class="fa fa-angle-double-left fa-fw"></i>&nbsp;{{page.previous_in_category.title}}</a>
					{% endif %}
				{% endif %} 
				
				{% if page.next.url %}
					{% if page.next_in_category != nil %}
						<a class="next" href="{{page.next_in_category.url}}">{{page.next_in_category.title}}&nbsp;<i class="fa fa-angle-double-right fa-fw"></i></a> 
					{% endif %} 
				{% endif %} 	
				
			</div>

			{% if page.comments %} {% include disqus.html %} {% endif %}
		</div>
	</section>
</div>